[flake8]
max-line-length = 120
exclude = CTkColorPicker, CTkMenuBar, CTkMessagebox

inline-quotes = "

application-import-names = CTkColorPicker, CTkMenuBar, CTkMessagebox
import-order-style = google
